.section {
    background-color: $bg-color #b07cf7;
    padding: 100px 24px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-size: $card-title-fs 1.25rem;
        font-weight: 700;
        color: $bg-color#ffffff;
        line-height: 0.75;
        margin-bottom: 30px;
    }
    &__description {
    font-size: $section-description-fs 1.0625rem;;    
    font-weight: 300;
    line-height: 1.5;
    max-width: 570px;
    text-align: center;
}
 }