$btn-color:#f72b3b;
$bg-color:#b07cf7;
$btn-color:#ffffff;
$btn-color:#fbfbf7;
$btn-color:#262626;
$base-font: 'Raleway', sans-serif;

$title-size: 5.625rem;
$section-description-fs: 1.0625rem;
$button-fs: 1.25rem;
$card-title-fs: 1.25rem;
$card-info-fs: 0.8125rem;
$date-fs: 2rem;
