
* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}

.header {
  color: rgb(24, 145, 70);
  text-align: center; 
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  align-items: center;
  max-width: 1200px;
  justify-content: space-around;
  background-color: blanchedalmond;
  margin: auto;
  padding: 50px  50px;
}

.flex__box {
  background-color: rgb(255, 255, 255);
  padding: 0px 60px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  height: 350px;
 }

.flex__box:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.box {
  padding-bottom: 30px; 
}

.box__smoke{
  display: block;
}

.smoke {
  padding-left: 30px;
}

.box__cup__bean {
  background: url(cup.png) no-repeat;
  width: 135px;
  height: 77px;
}

.box__cup__bean2 {
  background: url(cup2.png) no-repeat;
  width: 135px;
  height: 77px;
}

.box__cup__bean3 {
  background: url(cup3.png) no-repeat;
  width: 135px;
  height: 77px;
}

.bean { 
  padding: 10px 37px;
}

.bronze__text {
  text-align: center; 
}

.span__bronze {
  text-align: center; 
}

.price__text {
  text-align: center; 
  width: 135px;
  padding: 20px 10px;
}