
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    background-image: url(../images/fon.png);
    background-repeat: no-repeat;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    
   
  }