
* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}
.block {  
  background-image: url(PICTURE.png);
  text-align: center;
  margin: auto;
}
.header {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}
.title {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}
.line {
  width: 230px;
  height: 1px;
  background-color: #ffffff;
  margin: auto;
}
.main {
  text-align: center;
  padding-top: 15px;
}
.main li  {
  list-style-type: none;
  display: inline;
  padding: 8px 20px; 
}
.footer  {
  padding: 80px;
  text-align: center;
}
.footer p {
  color: #f3f3f9;
  font-size: 15px;
}
.footer__li {
  text-decoration: none;
  color: rgb(5, 205, 255);
}


