* {
  padding: 0;
  margin: 0;
  background: #9a0909; 
}
.photos { 
  margin: auto;
  
}
.header__image {
  display: block;
  margin: auto;

}
.nav {
  text-align: center;
  background: #000000;
  margin: 10px;

}
li.nav__img {
  list-style-type: none;
  display: inline-block;
  margin: 50px 50px;
  margin-top: 30px;
  margin-bottom: 10px;

}
li.nav__img a {
  display: block;
  color: white;
  background: #000000;

}
.main {
  display: inline-block;
  width: 20%;
  background: #720808; 
  vertical-align: top;
  line-height: 2.5;
  height: 500px;
  margin: 10px;

}
.main a {
  color: rgb(247, 126, 12);
  display: block;
  background: #720808; 

}
.container {
  display: inline-block;
  width: 58%;
  vertical-align: top;

 }
.side {
  display: inline-block;
  width: 19%;
  height: 500px;
  background: #e9e3e1;
  
}
.side p{
  background: #e9e3e1;
  
}
.side h2 {
  display: block;
  background-color: #d2c8c5;
  text-align: center;
  margin-top: 3px; 

}
.side hr {
  border: none;
  background-color: rgb(104, 104, 104);
  height: 3px;
  width: 50%;
  margin: 0 25% 0 25%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer {
  display: block;
  background-color: rgb(247, 126, 12);
  text-align: center; 
  color: #ffffff;
  margin: 10px 10px 50px 50px;
}