* {
  padding: 0;
  margin: 0;
  background: #9a0909;  
  
}
.header__image {
  display: block;
  margin: auto;
 
}
.block {
  text-align: center;
  background: #000000;
  margin: 10px;

}
.img {
  list-style-type: none;
  display: inline-block;
  margin: 50px 50px;
  margin-top: 30px;
  margin-bottom: 10px;

}
.link {
  display: block;
  color: white;
  background: #000000;

}
.main {
 padding: 0px 10px;
  display: flex;
  margin-bottom: 30px;
}
.link__main {
  width: 20%;
  background: #7D0909;
  
}
.link__main li {
  list-style-type: none;
  background: #7D0909;
  
}
.link__main a {
  color: rgb(247, 126, 12);
  line-height: 2.5;
  margin: 10px;
  background: #7D0909;
  font-size: 20px;
}
article {
  width: 60%;
  vertical-align: top;
  color: #d2c8c5;
  font-size: 20px;
 }
.side {
  width: 20%;
  height: 500px;
  background: #e9e3e1;
  
}
.side p{
  background: #e9e3e1;
  font-size: 20px;
}
.side h2 {
  background-color: #d2c8c5;
  text-align: center;
  margin-top: 5px; 

}
.side hr {
  border: none;
  background-color: rgb(104, 104, 104);
  height: 3px;
  width: 50%;
  margin: 0 25% 0 25%;
  margin-top: 10px;
  margin-bottom: 20px;
}

footer p {
  background:  rgb(247, 126, 12);
  text-align: center;
  margin-bottom: 30px;
  color: #e3dddd;
  font-size: 20px;
  }